body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #F2BE22;
  }
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
h2{
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #F29727;
    color: #4D455D;
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: #F24C3D;

}

.footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 50px solid #F2BE22;
    transform: translateX(-50%);
}